# Generic files to ignore
*.log
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.out
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)

# Intermediate documents
*-blx.bib
*_latexmk
*~.nav
*~.snm
*~.vrb

# LaTeX 3
*.auxlock
*.lox

# PDF output
*.htm

# pythontex files
*.pytxcode

# minted package output
_minted*

# vscode files for LaTeX Workshop extension
.vscode/

# Temporary files possibly containing sensitive information
*.swp
*.swo

# End of .gitignore
# Ignore the CMake build directory
#/cmake-build-debug/
cmake-build-debug/
# Ignore all .o files
*.o
